.container {
    display: flex;
    flex-direction: row;
}



.navegacao{
   display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap:1rem;
  padding: 2rem;


  & :link{
    background-color: #2b2b2b;
    
    width: 10rem;
    

  }
} 

.conteudo{
    
    background-color: white;
    width: 30rem;
    margin-top: 2rem;
    height: 50rem;
}
body{
    background-color: #2b2b2b;
}