* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d77a10;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 850px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.left, .right {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  width: 40%;
  background-color: #2f2900;
  color: white;
}

.left img {
  width: 50px;
  margin-bottom: 20px;
}

.left h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.left button {
  margin-top: 30px;
  padding: 12px;
  border: 2px solid white;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.left button:hover {
  background-color: white;
  color: #2f2900;
}

.right {
  width: 60%;
  background-color: #ffd39a;
  color: #2f1b00;
}

.right h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

.right p {
  font-size: 14px;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input {
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  background-color: #e57b18;
  font-weight: bold;
  color: #2f2900;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form input::placeholder {
  color: #654f00;
}

form button {
  padding: 12px;
  background-color: #2f2900;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background-color: #1e1b00;
}