@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d77a10;
  color: #333;
  height: 100vh;
}

.container {
  display: flex;
  align-items: flex-start;
  width: 100%;

  margin: auto;
  gap: 1rem; 
  padding: 1.5rem;
  flex-wrap: wrap;
}


.navegacao {
  font-size: larger;
  flex: 0 0 250px;
  min-height: 90vh;
  background-color: #d77a10;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 1rem;
}

.navegacao h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.navegacao img {
  width: 6.25rem;
  height: 5.625rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.navegacao p {
  font-size: 1rem;
  color: #2b2b2b;
}

.perfil {
  color: #2b2b2b;
  background-color: #f7f9fc;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
}

.navegacao a {
  font-size: larger;
  display: block;
  margin: 1rem 0;
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.navegacao a:hover,
.navegacao a:focus {
  color: white;
  background-color: #462e17;
}

.conteudo {
  overflow-y: scroll;
  max-height: 90vh;
  min-height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar{
  width: 0;
}
.conteudo > div {
  background-color: #f7f9fc;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.conteudo a {
  display: inline-block;
  margin-top: 1rem;
  background-color: #4caf50;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.conteudo a:hover {
  background-color: #388e3c;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    padding: 1rem;
  }

  .navegacao,
  .sidebar-direita {
    width: 100%;
    flex: none;
    margin-bottom: 1rem;
  }

  .conteudo {
    width: 100%;
  }
}


busca {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.busca input {
  flex: 1;
  padding: 0.8rem;
  border: 0.063rem solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.busca button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.busca button:hover {
  background-color: #388e3c;
}

#resultados > div {
  background-color: #f7f9fc;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#resultados img {
  width: 100%;
  max-width: 18.75rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}