* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

.container {
  display: flex;
  align-items: flex-start;
  width: 90%;
  max-width: 1400px;
  margin: auto;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  
 
}

.navegacao {
  flex: px;
  min-height: 90vh;
  background-color: #d77a10;
  color: white;
  padding: rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 1rem;
  margin-right: 1rem;
}

.navegacao h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
 
}

.navegacao img {
  width: 100px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.navegacao p {
  font-size: 1rem;
  color: #2b2b2b;
}

.perfil {
  color:#2b2b2b;
  background-color: #f7f9fc;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  
}

.navegacao a {
  font-size: larger;
  display: block;
  margin: 1rem 0;
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.navegacao a:hover,
.navegacao a:focus {
  color: white;
  background-color: #462e17;
}


.conteudo {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 75rem;
    
    border-radius: 0.75rem;
    align-items: center;
    padding-left: 1rem;
  
    

    & div {
       
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 2px 6px rgba(1, 1, 8, 0.50);
        font-weight: 500;
        flex: 1;
        border: 1px ;
       
    } 

    & > div {
        gap: 12px;
    }
    & h1 {
        align-items: self-start;
    }

    & p {

        padding: 8px;
        border-left: 7px solid #462e17;
        border-radius: 15px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        background-color: #d77a10;
        width: 10rem;
        text-align: center;
        margin-bottom: 5px;

    }

    & div>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        
    }

    & input {
        border-radius: 3rem;
        text-align: center;

    }


    button {
        border-radius: 1rem;
        width: 9rem;
    }

}

body {
    background-color: #d77a10;
    display: flex;
    justify-content: center;


}